# Git
.git
.gitignore

# Dependencies
node_modules
npm-debug.log*

# Build outputs
dist
dist-ssr
build
out

# IDEs
.vscode
.idea
.DS_Store

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
